#home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar {
    width: 100%;
}

#homeContent {
    width: 95%;
    display: flex;
    align-content: center;
    align-items: flex-start;
    padding-top: 2vh;
    flex-wrap: wrap;
}

.home-right-container {
    width: 40%;
    padding-left: 1vh;
    flex: 1;
}

.home-left-container {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-right: 1vh;
}

.home-left-container>* {
    padding-bottom: 2vh;
}

#homeContent>#articleGroup {
    padding-bottom: 1vh;
}

.home-articleGroup-container {
    width: 20%;
}

#homeCarousel {
    width: 80%;
}

@media only screen and (max-width:1150px) {
    #homeContent {
        padding-top: 0;
        flex-direction: column;
        align-items: center;
    }
    .home-left-container, .home-right-container {
        width: 100%;
        padding: 0;
    }
    #homeCarousel {
        width: 90%;
    }
    .home-right-container {
        order: -1;
        padding-bottom: 1vh;
    }
}

@media only screen and (max-width:550px) {
    #homeCarousel {
        width: 100%;
    }
}